{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="hero is-primary">
	<div class="hero-body">
		<div class="container content">
			<p class="title">Hi ha un algun problema :_(</p>
			{{ page.content }}
			<p>Contact amb nosaltres.</p>
		</div>
	</div>
</section>
{% endblock %}
